
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: ($space / 3) $space;

@mixin btnStyle( $bg, $color: #fff ) {
    color: $color;
    background: $bg;

    &:hover,
    &:focus {

    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: $BTN_PADDING;
    border: 0;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black80;
    background: #ddd;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.btn--block {
    width: 100%;
}

.btn--red {
    background: $brand_red;
    color: $white;
}

.btn--arrow {
    position: relative;
    background: transparent;
    border: solid 1px $brand_light_grey;
    padding-right: 32px;
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.3s ease;
    }

    &:after {
        position: absolute;
        top: 50%;
        left: 100%;
        content: '⟶';
        font-family: 'fontawesome';
        font-size: 26px;
        transform: translate(-16px, -50%);
    }

    &.--red {
        color: $brand_red;
        border: solid 1px $brand_red;

        &:hover {
            background: $brand_red;
            color: $white;
        }

        &:after {
            color: $brand_red;
        }
    }

    &.--white {
        color: $white;
        border: solid 1px $white;

        &:hover {
            background: $white;
            color: #000;
        }

        &:after {
            color: #fff;
        }
    }
}