@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold.ttf')  format('truetype');
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
       url('../fonts/OpenSans-BoldItalic.ttf')  format('truetype');
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff') format('woff'),
       url('../fonts/OpenSans-SemiBold.ttf')  format('truetype');
       
  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
       url('../fonts/OpenSans-SemiBoldItalic.ttf')  format('truetype');
       
  font-style:   italic;
  font-weight:  600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic.woff') format('woff'),
       url('../fonts/OpenSans-Italic.ttf')  format('truetype');
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff') format('woff'),
       url('../fonts/OpenSans-Regular.ttf')  format('truetype');
       
  font-style:   normal;
  font-weight:  400;
}