
// Config
// ------------------------------------------------------------------------ //

$input_border_size      : (1 * 1px);
$input_border_color     : $black40;
$input_padding          : ($space / 2);
$input_bg               : #fff;
$input_disabled_color   : #A8A8A8;


// Base style
// ------------------------------------------------------------------------ //

legend {
    margin-bottom: ($space / 2);
}

// Fix small bullet on Webkit
// http://goo.gl/WgqfpM
input[type="password"] {
    font: small-caption;
    font-size: 1em;
}

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form__row {
    margin-bottom: ($space / 2);
}

.form-label {
    display: block;
    margin-top: ($space / 3);
}

.form-input {
    padding: $input_padding ($input_padding * 2);
    font-family: inherit;
    background: $input_bg;
    border: solid 1px $white;
    box-shadow: none;
    transition: all 0.2s ease;

    &:focus {
        border-color: $brand_red;
        outline: none;
        transition: all 0.2s ease;
    }

    &[disabled] {
        color: $input_disabled_color;
        cursor: not-allowed;

        // Fix iOS color for being too opaque
        // https://github.com/ImBobby/suit-baze/issues/98
        -webkit-text-fill-color: $input_disabled_color;
    }

    @at-root select#{&} {

    }
}


// Modifier
// ------------------------------------------------------------------------ //

.form-input--error {
    border-color: #d32c31;

    &:focus {
        border-color: #d32c31;
    }
}

.form-input--success {
    border-color: #4eb74a;

    &:focus {
        border-color: #4eb74a;
    }
}

.form-input--block {
    width: 100%;
}
