.hero {
	width: 100%;
	overflow: hidden;
}

.hero-search {
	position: absolute;
	bottom: 100px;
	left: 50%;
	max-width: 100%;
	white-space: nowrap;
	padding: 12px 16px;
	background: rgba(255,255,255,0.9);
	transform: translateX(-50%);
	will-change: auto;
}

.hero-search-icon {
	color: rgba(0,0,0,0.5);
}

.hero-search-input {
	min-width: 500px;
	max-width: 100%;
	background: transparent;
	border: none;
	outline: none;
	margin: 0 20px;
}

.hero-search-submit {
	background: $brand_red;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

.hero-carousel {
	align: center;
	overflow: hidden;
	will-change: auto;
}

.hero-carousel-img--container {
	display: flex;
	max-height: 100vh;
	align-items: center;
}

.hero-carousel-item {
	position: relative;
}

.hero-carousel-img {
	width: 100%;
}

.hero-carousel-caption {
	position: absolute;
	bottom: 260px;
	left: 50%;
	max-width: 600px;
	padding: 40px 50px;
	color: #fff;
	background: rgba(0,0,0,0.55);
	text-align: center;
	transform: translate(-50%, 0) scale(0.9);
	opacity: 0;
	transition: all 0.6s ease 0.6s;

	.slick-active & {
		transform: translate(-50%, 0) scale(1);
		opacity: 1;
	}
}

.hero-carousel-btn {
	position: absolute;
	top: 50%;
	background: transparent;
	border: none;
	color: $white;
	outline: none;
	cursor: pointer;
	transform: translateY(-50%);

	&.--next {
		right: 10px;
	}

	&.--prev {
		left: 10px;
	}
}

.slick-slide {
    outline: none !important;
}
