.section-heading {
	text-align: center;
	padding: 50px 15% 10px 15%;

	h2 {
		font-weight: 600;
	}
}

.separator {
	width: 46px;
	margin: 0 auto;
	border-color: $brand_grey;
	border-width: 5px;
}

.global {
	position: relative;
	z-index: 1;
	background: $white;
}

.global-map {
	position: relative;
}

.global-mapobj {
	width: 100%;
	height: 550px;
	background: #eee;
}

.global-tag {
	position: absolute;
	top: 1px;
	left: 50%;
	background: $white;
	padding: 16px 24px;
	transform: translateX(-50%);

	h3 {
		margin: 0;
	}
}

.global-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 36px;
	background: $white;
	text-align: center;
	transform: translateY(100%);
	transition: all 0.4s ease;

	&.is-active {
		transform: translateY(0);
		transition: all 0.4s ease;
	}
}

.global-content--title {
	font-weight: 400;
}

.global-content--toggle {
	position: absolute;
	top: 0;
	left: 50%;
	width: 70px;
	height: 70px;
	background: $white;
	color: $brand_red;
	border: none;
	border-radius: 100px;
	outline: none;
	cursor: pointer;
	transform: translate(-50%, -50%);

	&:after {
		content: '\f102';
		position: absolute;
		top: 10px;
		left: 50%;
		font-family: 'fontawesome';
		font-size: 24px;
		transform: translateX(-45%);
	}

	.is-active &:after {
		content: '\f103';
	}
}


.product {
	//position: relative;
	//z-index: 1;
	background: $brand_light_grey;
}

.product-carousel {
	padding: 0 15%;
	
	.media-figure {
		//width: 300px;
		max-width: 300px;
		float: left;
	}

	.media-content {
		margin-top: 70px;
		max-width: 300px;
		float: left;

		@media #{$hd} {
			margin-top: 90px;
			max-width: 500px;
		}
	}
}

.product-carousel-title {
	font-weight: 400;
}

.product-nav {
	position: relative;
	padding: 0 0 20px 0;
	background: $white;
}

.product-nav-list {
	padding: 0 50px;
}

.product-nav-item {
	position: relative;
	margin: 0 12px;
	padding-top: 24px;
	opacity: 0.3;
	cursor: pointer;

	&.is-active {
		opacity: 1;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			border: solid 15px transparent;
			border-top-color: $brand_light_grey;
			transform: translateX(-50%);
		}
	}
}

.product-nav-item-title {
	margin: 5px 0;
	font-weight: 600;
}

.product-nav-item-image--container {
	position: relative;
	height: 150px;
	width: 200px;
	background: #ddd;
	overflow: hidden;

	@media #{$hd} {
		width: 300px;
	}
}

.product-nav-item-image {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: scale(1.3, 1.3) translateY(-50%);
}

.product-nav-button {
	position: absolute;
	top: 50%;
	transform: translateY(-5px);
	z-index: 2;
	width: 30px;
	height: 30px;
	padding: 4px;
	border: solid 1px #000;
	border-radius: 100px;
	background: transparent;
	outline: none;
	cursor: pointer;

	&.--prev {
		left: 46px;
	}
	
	&.--next {
		right: 36px;
	}
}

.news-cards {
	display: flex;
	padding: 70px;
}

.news-card {
	border: solid 1px $brand_semilight_grey;
	margin: 0 12px;
	width: 33%;
	transition: all 0.2s ease;

	a:hover {
		transition: all 0.2s ease;
	}
}

.news-card-img--container {
	display: flex;
	position: relative;
	height: 170px;
	overflow: hidden;
	align-items: center;

	@media #{$hd} {
		height: 250px;
	}
}

.news-card-img {
	width: 100%;
}

.news-card-content {
	padding: 20px;
	
	h3 {
		margin-bottom: 0;
		font-weight: 600;
	}

	time {
		display: inline-block;
		font-weight: 400;
		font-size: 1.1em;
		margin: 8px 0;
	}

	p {
		font-size: 0.9em;
	}
}