.site-footer-container {
	background: $brand_dark_grey;
	color: #fff;
	padding: 36px 5%;
		
}

.site-footer-quote {
	text-align: center;
	font-weight: 700;
	margin-bottom: 48px;
}

.site-footer-map {
	width: 100%;
	height: 350px;
	background: $brand_light_grey;
}

.site-footer-form {
	position: relative;
	
	.form-input {
		width: 100%;
	}
	
	&:after {
		position: absolute;
		top: 12px;
		right: 16px;
		font: 20px 'fontawesome';
		color: $brand_red;
	}

	&.--name:after {
		content: '\f007';
	}

	&.--mail:after {
		content: '\f0e0';
	}

	&.--phone:after {
		content: '\f095';
	}
}

.site-footer-btn {
	display: inline-block;
	float: left;
}

.site-footer-dropdown {
	display: inline-block;
	margin: 0 0 10px 0;
	padding: 4px 10px;
	border: solid 1px $white;
}

.site-footer-address {
	font-size: 0.9em;
}

.site-footer-media {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 2px;
	padding: 10px 0 0 0;
	text-align: center;
	border-radius: 100px;
	color: $brand_dark_grey;
	background: $white;
	transition: all 0.2s ease;

	&:hover {
		color: $brand_red;
		transition: all 0.2s ease;
	}
}

.site-footer-copyright {
	margin: 0 auto;
	text-align: center;

	p {
		margin-top: 12px;
		font-size: 0.9em;
	}
}