.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 2;
	background: #fff;
	border-bottom: solid 1px $brand_light_grey;
	font-size: 1.1em;
}

.site-logo--container {
	display: inline-block;
    margin: 10px 3%;
    float: left;
}

.site-logo {
    height: 50px;
}

.site-nav {
	width: auto;
	float: right;
	background: transparent;
	display: block;
}

.site-nav-item {
	width: auto;
	display: inline-block;
	position: relative;
	text-align: left;

	a {
		display: inline-block;
		width: 100%;
		font-size: 13px;
		line-height: 70px;
		text-transform: uppercase;
		color: $black;
		padding: 0 6px;
		transition: 0.2s;
		
		&:hover, &:focus {
			color: $brand_red;
			//background: $black20;
			transition: all 0.15s ease;
		}

		@media #{$hd} {
			font-size: 15px;
			padding: 0 12px;
		}
	}
}

.site-nav-item--bordered {
	border-left: solid 1px $brand_light_grey;
	min-width: 54px;
	text-align: center;
}

.site-nav-search {
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s ease;

	&.is-active {
		opacity: 1;
		pointer-events: auto;
		transition: all 0.4s ease;
	}
}

.site-nav-search--input {
	position: absolute;
	top: 0;
	right: 0;
	height: 70px;
	min-width: 400px;
	padding: 0 20px;
	outline: none;
	border: solid 1px $brand_light_grey;
	color: $black50;

	&::placeholder {
		font-style: italic;
		color: $black30;
	}
}

.site-nav-search--exit {
	position: absolute;
	top: 50%;
	right: 14px;
	background: none;
	border: none;
	outline: none;
	font-size: 24px;
	cursor: pointer;
	transform: translateY(-50%);
}

.one-page-nav {
	position: fixed;
	top: 50vh;
	right: 20px;
	transform: translateY(-50%);
}

.one-page-nav-item {
	a {
		display: block;
		height: 12px;
		width: 12px;
		margin-bottom: 10px;
		background: $brand_light_grey;
		//border: solid 1px $brand_red;
		border-radius: 50px;
	}

	&.is-active > a {
		background: $brand_red;
	}
}