
// Typography
// ------------------------------------------------------------------------ //

$base_font_size     : 14px;
$base_line_height   : 1.6em;
$base_font_family   : "Open Sans", sans-serif;
$space              : $base_line_height;



// Colors
// ------------------------------------------------------------------------ //

$black              : #222;
$black90            : lighten($black, 10%);
$black80            : lighten($black, 20%);
$black70            : lighten($black, 30%);
$black60            : lighten($black, 40%);
$black50            : lighten($black, 50%);
$black40            : lighten($black, 60%);
$black30            : lighten($black, 70%);
$black20            : lighten($black, 80%);
$black10            : lighten($black, 90%);

$link               : $black;
$link_hover         : $black70;

$selection_bg       : $black50;
$selection_color    : $black;

$brand_red			: #cc0000;
$brand_light_grey	: #ebebeb;
$brand_semilight_grey	: #ddd;
$brand_grey			: #545454;
$brand_dark_grey	: #343434;
$white				: #fff;

// Break Points
// ------------------------------------------------------------------------ //

$small              : "screen and (min-width: 20em)";
$small_portrait     : "screen and (min-width: 20em) and (orientation: portrait)";
$small_landscape    : "screen and (min-width: 20em) and (orientation: landscape)";

$medium             : "screen and (min-width: 48em)";
$medium_portrait    : "screen and (min-width: 48em) and (orientation: portrait)";
$medium_landscape   : "screen and (min-width: 48em) and (orientation: landscape)";

$large              : "screen and (min-width: 64em)";

$retina             : "(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 1.25dppx), (min-resolution: 120dpi)";

$fhd              : "screen and (min-width: 1920px)";
$hd              : "screen and (min-width: 1280px)";
$xga              : "screen and (min-width: 970px)";









